<!DOCTYPE html>
<html lang="pt-br">
		<head>
				<meta charset="UTF-8">
				<link rel="stylesheet" href="/styles.css">
				<title>Foodfy</title>
		</head>
		<body>
				<header>
						<img src="/assets/logo.png" alt="Logo Foodfy">
						<a href="">Sobre</a>
						<a href="">Receitas</a>
				</header>
				<div class="banner">
						<div class="texto-banner">
								<h1>As melhores receitas</h1>
								<p>Aprenda a construir os melhores pratos com receitas criadas por profissionais do mundo inteiro.</p>
						</div>
						<img src="/assets/chef.png" alt="Chefe Foodfy">
				</div>
				<section>
						<h1>Mais acessadas</h1>

						<div class="cards">
								<!-- card 1 -->
								<div class="card">
										<div class="img-card">
												<img src="/assets/burger.png">
										</div>
										<div class="receita-card">
												<p>Triplo bacon burger</p>
										</div>
										<div class="chef-card">
												<p>por Jorge Relato</p>
										</div>
								</div>

								<!-- card 2 -->
								<div class="card">
										<div class="img-card">
												<img src="/assets/pizza.png">
										</div>
										<div class="receita-card">
												<p>Pizza 4 estações</p>
										</div>
										<div class="chef-card">
												<p>por Fabiana Melo</p>
										</div>
								</div>

								<!-- card 3 -->
								<div class="card">
										<div class="img-card">
												<img src="/assets/espaguete.png">
										</div>
										<div class="receita-card">
												<p>Espaguete ao alho</p>
										</div>
										<div class="chef-card">
												<p>por Júlia Kinoto</p>
										</div>
								</div>

								<!-- card 4 -->
								<div class="card">
										<div class="img-card">
												<img src="/assets/lasanha.png">
										</div>
										<div class="receita-card">
												<p>Lasanha mac n’ cheese</p>
										</div>
										<div class="chef-card">
												<p>por Juliano Vieira</p>
										</div>
								</div>

								<!-- card 5-->
								<div class="card">
										<div class="img-card">
												<img src="/assets/doce.png">
										</div>
										<div class="receita-card">
												<p>Docinhos pão-do-céu</p>
										</div>
										<div class="chef-card">
												<p>por Ricardo Golvea</p>
										</div>
								</div>

								<!-- card 6 -->
								<div class="card">
										<div class="img-card">
												<img src="/assets/asinhas.png">
										</div>
										<div class="receita-card">
												<p>Asinhas de frango ao barbecue</p>
										</div>
										<div class="chef-card">
												<p>por Vania Steroski</p>
										</div>
								</div>
						</div>
				</section>

				<footer>
						<p>Todos os direitos reservados a @Foodfy</p>
				</footer>
		</body>
</html>