<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/styles.css">
        <title>Foodfy</title>
    </head>
    <body>
        <div class="content">
            <header>
                <img src="https://i.imgur.com/7ICOkXm.png" alt="Logo Foodfy">
                <a href="/about">Sobre</a>
                <a href="/receitas">Receitas</a>
            </header>
            <div class="banner">
                <div class="texto-banner">
                    <h1>As melhores receitas</h1>
                    <p>Aprenda a construir os melhores pratos com receitas criadas por profissionais do mundo inteiro.</p>
                </div>
                <img src="https://i.imgur.com/ASElwVm.png" alt="Chefe Foodfy">
            </div>
            <section>
                <h1>Mais acessadas</h1>
                <div class="cards">
                    {% for receitas in receita %}
                        <div class="card" id="">
                            <div class="img-card">
                                <img src="{{ receitas.img }}">
                            </div>
                            <div class="receita-card">
                                <p>{{ receitas.author }}</p>
                            </div>
                            <div class="chef-card">
                                <p>{{ receitas.title }}</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </section>
        </div>
        <footer>
            <p>Todos os direitos reservados a @Foodfy</p>
        </footer>
    </body>
</html>