<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/styles.css">
        <title>Foodfy</title>
    </head>
    <body>
        <div class="content">
            <header>
                <img src="/assets/logo.png" alt="Logo Foodfy">
                <a href="">Sobre</a>
                <a href="">Receitas</a>
            </header>
            <div class="banner">
                <div class="texto-banner">
                    <h1>As melhores receitas</h1>
                    <p>Aprenda a construir os melhores pratos com receitas criadas por profissionais do mundo inteiro.</p>
                </div>
                <img src="/assets/chef.png" alt="Chefe Foodfy">
            </div>
            <section>
                <h1>Mais acessadas</h1>

                <div class="cards">
                    <!-- card 1 -->
                    <div class="card" id="">
                        <div class="img-card">
                            <img src="/assets/burger.png">
                        </div>
                        <div class="receita-card">
                            <p>asdsad</p>
                        </div>
                        <div class="chef-card">
                            <p>sadasd</p>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <footer>
            <p>Todos os direitos reservados a @Foodfy</p>
        </footer>
    </body>
</html>