@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Zerando estilização do navegador */
* {
  margin: 0;
  padding: 0;
  border: 0;
}

html, body {
	height: 100%;
}


body {
  font-family: 'Roboto', sans-serif;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1 0 auto;
}

header { 
  max-width: 940px;
  margin: 0 auto;
  padding: 36px 15px;
}

header img {
  vertical-align: middle;
  margin-right: 80px;
}

header a {
  padding: 20px;
  text-decoration: none;
  font-size: 16px;
  color: #333;
}

.banner {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
  max-width: 940px;
  padding-top: 70px;
  margin: 0 auto;
  background: #FBDFD8;
  border-radius: 10px;
}

.texto-banner {
	padding: 50px;
}

.texto-banner p {
	opacity: 70%;
	font-size: 18px;
  margin-top: 10px;
}

section {
	max-width: 940px;
	margin: 40px auto;
}

section h1 {
	font-size: 24px;
	margin-bottom: 20px;
	color: #333;
}

section h2 {
  margin: 20px 0;
  color: #333;
  font-size: 20px;
}

section p {
  font-size: 18px;
  color: #444444;
  line-height: 28px;
}

.cards {
	margin: 0 auto;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 20px;
}

.receita-card p {
  font-size: 18px;
  color: #111111;
  padding-top: 5px;
}

.chef-card p {
  font-size: 14px;
  color: #777777;
}

.card .img-card img {
	width: 100%;
	border-radius: 15px;
}

footer {
  flex-shrink: 0;
  width: 100%;
  padding: 25px 0px 25px 0px;
  background-color: #eee;
  text-align: center;
  font-size: 14px;
  color: #666;
}

/* detalhe de  Receitas */

.receita-banner {
  max-width: 940px;
  margin: 0 auto;
}

.receita-banner img {
  border-radius: 10px;
}

.recita-autor {
  text-align: center;
}

.recita-autor h1 {
  font-size: 34px;
  margin-bottom: 10px;
}

.recita-autor p {
  color: #555;
}

.receita-ingredientes,
.receita-preparo {
  margin: 40px auto;
  padding: 15px 0;
}

.receita-ingredientes ul,
.receita-preparo ul {
  padding: 15px;
  line-height: 1.7;
  color: #333;
}

.receita-info{
  padding: 30px;
  color: #555;
  line-height: 1.5;
  letter-spacing: 1.2px;
  background: #FBDFD8;
  border-radius: 10px;
}